@media(max-width:992px) {


    .topnav {
        justify-content: space-between;
        width: 100%;

    }

    .menu-icon {

        background-color: var(--primary-color);
        border: 2px solid white;
        border-radius: 5px;
        margin: 5px;
        

    }

    .menu {
        background-color: black;
        flex-direction: column;
        margin-top: 31.2em;
        border: 2px solid var(--primary-color);
        border-radius: 0px 0px 0.6em 0.6em;
        border-top: 0px;
        gap: 20px;
        z-index: 2;
        position: absolute;
        width: 30%;
        display: flex;
        padding: 1em;
        display: none
    }

    .menu li {

        padding: 0.5em;
        width: 100%;
        display: flex;

    }

    .menu a {
        background-color: rgb(17, 29, 80);
        width: 100%;
        height: 2.2em;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
        transition: 0.4s;
    }
    
    .menu a:hover{
        color: black;
        background-color: var(--primary-color)
    }

    .menu-label {
        display: flex;
        cursor: pointer;
    }

    .logoFooter {
        display: none;
    }
    .buttonRegisterInLogin{
        margin-top: 5em;
    }

}

@media (max-width:768px) {


    .logo {
        width: 80%;
        min-width: 320px
    }

    .menu {
        width: 35%
    }

    .presentation {
        display: block;
    }

    .title {
        font-size: 30px;
    }

    .services {
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .service {
        width: 400px;
    }

    .logoFooter {
        width: 75%;
        padding: 10px
    }

    .listFooter{
     margin: 0;
    }

    .listFooter li {
        font-size: 13px;
        width: 45%;
      
    }

      


}

@media(max-width:480px) {

  
.logo{
  
    width: 100%;
    height: 70px;
    margin-top: 30px;
    margin-left: 7px;
    margin-right: 7px;
    padding-left: 10px;
    padding-right: 10px;

   
}
    .topnav {
        flex-wrap: wrap;
        display: flex;
        margin-top: 70px;
    
    }


    .menu-label {
        order: 0;
       

    }

    .menu {
        margin-top: 37.5em;
        width: 87%;
        
    }

    .menu-icon {
        display: inline;
        display: flex;
        width: 45px;
        height: 45px;
        margin: 15px;
        padding: 7px;
    }

    .user-icon{
        display: inline;
        display: flex;
    }

    .buttonRegister{
        margin-top: 500px;
    }

    .title {
        font-size: 20px;
    }

    .about {
        display: none;
    }

    .services {
        display: flex;
        flex-wrap: wrap;
    }

    .service {
        width: 200px
    }

    .listFooter ul {
        padding: 15px;
    }

    .listFooter li {
        flex-direction: column;
    }


}


@media(min-width:992px) {

.topnav{
    position: absolute;
        display: flex;
        width: 100%;
}
    

   .menu a#inicio{
    display: none;
   }

}