<!DOCTYPE html>
<html lang="en">
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Index</title>

      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap"
        rel="stylesheet"
      />
      <link rel="stylesheet" href="../normalize.css" />
      <link rel="stylesheet" href="../public/css/style.css" />
      <link rel="stylesheet" href="../public/css/footer.css" />
      <link rel="stylesheet" href="../public/css/header.css" />
      <link rel="stylesheet" href="../public/css/mediaqueries.css" />
      <link rel="stylesheet" href="../public/css/register.css">
    </head>

    <body>
      <header class="header">
        <nav class="topnav">
            <a href="../index.html"><img class="logo" src="../public/images/logo.png" alt="logo"></a>
            <label class="menu-label" for="menu-toggle"><img class="menu-icon" src="../public/images/menu.png" alt="menu hamburguesa"></label>
            <input type="checkbox" id="menu-toggle">

            <ul class="menu">
                
                <li><a id=inicio href="../index.html">Inicio</a></li>
                <li><a href="#containerModels">Modelos web</a></li>
                <li><a href="#contact">Presupuesto</a></li>
                <li><a href="#contact">Contacto</a></li>
                <li class="menu-about"><a href="#about">Conocé más</a></li>
            </ul>
            <a href="../views/login.html"><img class="user-icon" src="../public/images/usuario.png" alt="icono de usuario"></a>
            
        </nav>
    </header>
      <main class="mainRegister">
    <form class="form-register" action="">
        <label for="mail">Mail:</label>
        <input type="e-mail" name="mail">

        <label for="usuario">Usuario:</label>
        <input type="text" name="usuario">

        <label for="password">Contraseña:</label>
        <input type="password" name="password">

        <label for="confirmacontraseña">Confirme contraseña:</label>
    <input type="password" name="confirmacontraseña">

    <button class="buttonRegister" type="submit">Registrar</button>
        </form>

</main>
<footer>
    <div class="listFooter">
      <ul>
        <li>
          <img
            class="iconFooter"
            src="../public/images/telefono-movil.png"
            alt=""
          />1128073192
        </li>
        <li>
          <img
            class="iconFooter"
            src="../public/images/mail.png"
            alt=""
          />aldanamiranda8@gmail.com
        </li>
        <li>
          <img
            class="iconFooter"
            src="../public/images/maps.png"
            alt=""
          />Bs. As.- Argentina
        </li>
        <li>
          <img
            class="iconFooter"
            src="../public/images/hour.png"
            alt=""
          />Lun. a Vie. 9 a 20 hs.
        </li>
      </ul>
    </div>
    <div></div>

    <div class="copyright">
      Copyright 2023 © Todos los derechos reservados | Aldana Victoria
      Miranda | Diseño Web Argentina
    </div>
    <p></p>
  </footer>
</body>
</html>
</html>

</body>
</html>

